{% macro render_checkbox(field) %}
<div class="checkbox{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id }}">
        {{ field }}{{ field.label.text }}
    </label>
    <span class="help-inline">{{ field.description }}</span>
    {% if field.errors -%}
    <ul class="help-block">
        {% for error in field.errors -%}
        <li>{{ error }}</li>
        {%- endfor %}
    </ul>
    {%- endif %}
</div>
{% endmacro%}

{% macro render_radio(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label(class_="control-label") }}
    {% for subfield in field -%}
    <label for="{{ subfield.id }}" class="radio-inline">
        {{ subfield }} {{ subfield.label.text }}
    </label>
    {%- endfor %}
    <span class="help-block">{{ field.description }}</span>
    {% if field.errors -%}
    <ul class="help-block">
        {% for error in field.errors -%}
        <li>{{ error }}</li>
        {%- endfor %}
    </ul>
    {%- endif %}
</div>
{% endmacro %}

{% macro render_select(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="">
        <select class="selectpicker bs-select" name={{ field.name }}>
            {% for subfield in field %}
            {{ subfield}}
            {% endfor %}
        </select>
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_multiple_select(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="">
        <select class="tags-select form-control" name={{ field.name }} multiple="multiple" data-tags=1>
            {% for subfield in field %}
            {{ subfield }}
            {% endfor %}
        </select>
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_datepicker(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label"
        for="{{ field.id }}">
        {{ field.label }}
    </label>
    <div class="">
        {{ field(class_="datepicker", readonly=True) }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_textarea(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label"
        for="{{ field.id }}">
        {{ field.label }}
    </label>
    {{ field(class_="form-control", rows="4") }}
    <span class="help-inline">{{ field.description }}</span>
    {% if field.errors -%}
    <ul class="help-block">
        {% for error in field.errors -%}
        <li>{{ error }}</li>
        {%- endfor %}
    </ul>
    {%- endif %}
</div>
{% endmacro %}

{% macro render_file(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id }}">
        {{ field.label }}
    </label>
    <span class="help-inline">{{ field.description }}</span>
    {{ field }}
    {% if field.errors -%}
    <ul class="help-block">
        {% for error in field.errors -%}
        <li>{{ error }}</li>
        {%- endfor %}
    </ul>
    {%- endif %}
</div>
{% endmacro %}

{% macro render_input(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label"
        for="{{ field.id }}">
        {{ field.label }}
    </label>
    {{ field(class_="form-control") }}
    <span class="help-inline">{{ field.description }}</span>
    {% if field.errors -%}
    <ul class="help-block">
        {% for error in field.errors -%}
        <li>{{ error }}</li>
        {%- endfor %}
    </ul>
    {%- endif %}
</div>
{% endmacro %}

{% macro render_datepicker(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label"
        for="{{ field.id }}">
        {{ field.label }}
        <span class="help-inline">{{ field.description }}</span>
    </label>
    <div class="">
        {{ field(class_="datepicker", readonly=True) }}
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_select(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label(class_="control-label") }}
    <span class="help-inline">{{ field.description }}</span>
    <div class="">
        <select class="selectpicker bs-select" name={{ field.name }}>
            {% for subfield in field %}
            {{ subfield}}
            {% endfor %}
        </select>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_fieldlist(field) %}
{% for entry in field.entries %}
    {% if loop.first %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label"
        for="{{ field.id }}">
        {{ entry.label }}
    </label>
    {% endif %}
    {% if entry.type == "RadioField" %}
        {{ render_radio(entry) }}
    {% elif entry.type == "SelectField" %}
        {{ render_select(entry) }}
    {% elif entry.type == "SelectMultipleField" or entry.type == "MySelectMultipleField" %}
        {{ render_multiple_select(entry) }}
    {% elif entry.type == "TextAreaField" %}
        {{ render_textarea(entry) }}
    {% elif entry.type == "DateField" %}
        {{ render_datepicker(entry) }}
    {% elif entry.type == "FileField" %}
        {{ render_file(entry) }}
    {% elif entry.type == "StringField" %}
    {{ entry(class_="form-control") }}
    <span class="help-inline">{{ entry.description }}</span>
        {% if entry.errors -%}
    <ul class="help-block">
            {% for error in entry.errors -%}
        <li>{{ error }}</li>
            {%- endfor %}
    </ul>
        {%- endif %}
    {% endif %}
    {% if loop.last %}
</div>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro render_action(field) %}
    {{ field(class_="btn btn-primary") }}
{% endmacro %}

{% macro render_form(url, form, horizontal=False, legend=None, confirm_msg=None, formid=None, has_file=False) %}
{% set idattr = "id=" + formid if formid else "" %}
<form style="margin:15px 0;" {{idattr}} class="form{% if horizontal %}form-horizontal{% endif %}" method="POST" action="{{ url }}"
    {% if confirm_msg %}onsubmit='return confirm("{{ confirm_msg }}");' {% endif %}
    {% if has_file %}enctype="multipart/form-data"{% endif %} >
    {{ form.hidden_tag() }}
        {% if legend %}
        <legend>{{ legend|safe }}</legend>
        {% endif %}
        {% set focus = True %}
        {% for field in form %}
            {% if field.type != "HiddenField" and field.type != "CSRFTokenField" %}
                {% if field.type == "RadioField" %}
                    {{ render_radio(field) }}
                {% elif field.type == "SelectField" %}
                    {{ render_select(field) }}
                {% elif field.type == "SelectMultipleField" or field.type == "MySelectMultipleField" %}
                    {{ render_multiple_select(field) }}
                {% elif field.type == "BooleanField" %}
                    {{ render_checkbox(field) }}
                {% elif field.type == "SubmitField" %}
                    {{ render_action(field) }}
                {% elif field.type == "TextAreaField" %}
                    {{ render_textarea(field) }}
                {% elif field.type == "DateField" %}
                    {{ render_datepicker(field) }}
                {% elif field.type == "FileField" %}
                    {{ render_file(field) }}
                {% elif field.type == "FieldList" %}
                    {{ render_fieldlist(field) }}
                {% elif field.type == "StringField" %}
                    {% if focus %}
                        {{ render_input(field) }}
                        {% set focus = False %}
                    {% else %}
                        {{ render_input(field) }}
                    {% endif %}
                {% else %}
                    {{ render_input(field) }}
                {% endif %}
            {% endif %}
        {% endfor %}
</form>
{% endmacro %}
