{% extends "panel/layout.html" %}
{% from "macros/_form.html" import render_form %}
{% import "panel/macros.jinja" as macros %}
{% block title %}Email{% endblock %}
{% block view %}
{% if options %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Option for {{ nav.objectname }}.
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                {{ render_form(nav.form_url, options) }}
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endif %}
{% if new or suboption %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of {{ nav.sublevelname }}s.
		{% if new %}
                <!-- Button trigger modal -->
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Add new element.
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{% trans %}Create new{% endtrans %}</h4>
                            </div>
                            <div class="modal-body">
                                {{ render_form(nav.form_url, new) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans%}</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
		<!-- /.modal -->
                {% endif %}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">

                     {{ macros.Table(suboption)|safe }}

                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
{% endif %}

{% endblock %}

{% block customJS %}
<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
        "responsive": true,
        "order": [[ 0, "asc" ]]
    });
{%- if new %}
{%- for field in new %}
    {%- if field.errors %}   
	$('#myModal').modal('show');
    {%- endif %}
{%- endfor %}
{%- endif %}
});
</script>
{% endblock %}
